<%= turbo_frame_tag 'home' do %>
    <h1><%= t('.title')%> </h1>

    <%= form_with url: tasks_path, method: :get do |form| %>
        <%= form.text_field :query_text, placeholder: t('.query_text'), onChange: 'this.form.requestSubmit()', value: params[:query_text] %>
    <% end %>

    <%= link_to t('.all'), tasks_path %>
    <%= render partial: 'category', collection: @categories %>
    <%= link_to t('.new'), new_task_path, data: { turbo: false } %>


    <%= turbo_frame_tag "tasks" do %> 
        <%= render partial: "task", collection: @tasks %>
    <% end %>
    
    <%== pagy_nav(@pagy) %>
    

<% end %>